<div class="main-banner">
    <div class="main-banner__container">
        <div class="main-banner__hotel-image">
            <div class="main-banner__ad">
                <div class="main-banner__ad-title">Тур в Созополь, Болгария</div>
                <div class="main-banner__ad-info">код тура</div>
                <div class="main-banner__ad-code">3094119</div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="main-banner__hotel-content">
            <div class="main-banner__hotel-info">
                <div class="main-banner__hotel-info-top">
                    <div class="main-banner__hotel-title">Aquamarine hotel</div>
                    <div class="main-banner__hotel-rating">
                        {{> icon iconName="star_filled" classNames="main-banner__hotel-rating__icon main-banner__hotel-rating__icon_filled" }}
                        {{> icon iconName="star_filled" classNames="main-banner__hotel-rating__icon main-banner__hotel-rating__icon_filled" }}
                        {{> icon iconName="star_filled" classNames="main-banner__hotel-rating__icon main-banner__hotel-rating__icon_filled" }}
                        {{> icon iconName="star" classNames="main-banner__hotel-rating__icon" }}
                        {{> icon iconName="star" classNames="main-banner__hotel-rating__icon" }}
                    </div>
                    <div class="main-banner__hotel-price">$256</div>
                </div>
                <div class="main-banner__hotel-info-bottom">
                    <div class="main-banner__hotel-mark">
                        <div class="main-banner__hotel-mark-description">Оценка отеля</div>
                        <div class="main-banner__hotel-mark-comments">45 отзывов</div>
                    </div>
                    <div class="main-banner__hotel-mark-value">8.4</div>
                    <ul class="main-banner__hotel-items">
                        <li class="main-banner__hotel-item">
                            <div class="main-banner__hotel-item-title">Номер</div>
                            <div class="main-banner__hotel-item-value">8.9</div>
                        </li>
                        <li class="main-banner__hotel-item">
                            <div class="main-banner__hotel-item-title">Питание</div>
                            <div class="main-banner__hotel-item-value">8.1</div>
                        </li>
                        <li class="main-banner__hotel-item">
                            <div class="main-banner__hotel-item-title">Сервис</div>
                            <div class="main-banner__hotel-item-value">7,9</div>
                        </li>
                        <li class="main-banner__hotel-item">
                            <div class="main-banner__hotel-item-title">Инфраструктура</div>
                            <div class="main-banner__hotel-item-value">8.9</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="main-banner__hotel-sundays">
                <div class="main-banner__hotel-sundays-value">320</div>
                <div class="main-banner__hotel-sundays-description">солнечных дней в году</div>
            </div>
        </div>
    </div>
</div>

