<div class="social-media">
    <a href="#" class="social-media__item">
        {{> icon iconName="facebook_top" classNames="social-media__icon" }}
    </a>
    <a href="#" class="social-media__item">
        {{> icon iconName="googleplus_top" classNames="social-media__icon" }}
    </a>
    <a href="#" class="social-media__item">
        {{> icon iconName="instagram_top" classNames="social-media__icon" }}
    </a>
</div>
