<div class="main-content">
    <div class="container">
        <h2 class="main-content__headline">36,6 градусов по цельсию и познавательная физика</h2>
        <div class="main-content__container">
            <div class="main-content__left">
                <p class="main-content__contrast">
                    Никто не задумывался почему температура человеческого тела 36,6 С? Почему не иная? Почему не равна дневной температуре окружающего пространства к примеру? Но почему
                    так произошло? Первая причина лежит от нас на временной оси в прошлом на расстоянии
                    в несколько миллиардов лет. Именно тогда появилась жизнь.
                </p>

                <p class="main-content__indent">Грубо говоря первичные репликаторы огородились защитной оболочкой от остальной части океана — создав клетки. Клетки это замкнутые водные резервуары, в которых вся жизнедеятельность проходит в водной среде. И все сухопутные организмы концептуально это машины выживания репликаторов, мобильная (в случае с животными), благоприятная водная среда для репродукции, окруженная защитной оболочкой от внешнего мира.</p>

                <h3 class="main-content__capture">Ищем ответ</h3>
                <p class="main-content__indent">Что интересно, все теплокровные функционируют в пределах той же области температур что и человек.
                    Например температура у лошадей 37,5-38,5; у коров 37,5-39,5; кур 40,5-42,5; свиней 39,0-40,0; кошек 38,0-39,5; обезьян 38,1; голубей 41,0-44,0. Ответ лежит в области нет, не биологии. А в области физики воды.</p>

                <p class="main-content__citation">Дело в том, что теплоемкость воды нелинейно зависит от температуры. Теплоемкость это количество энергии, которое необходимо потратить для того что бы нагреть 1 кг вещества на 1 градус. При увеличении температуры она как бы пикирует как штурмовик, и возносится ввысь после прохождения нижней точки
                    в 36,8 градусов Цельсия. В организме человека вода составляет около 65-70%, её теплоемкость огромна.</p>

                <p class="main-content__indent">90% энергии получаемой с пищей, теплокровные потому тратят только лишь на поддержание постоянной
                    температуры внутренней среды. На нагревание воды. Потому эта ямка, минимум, в котором нужно было
                    тратить минимальное количество энергии на поддержание своего состояния, как аттрактор, стягивал на
                    себя на протяжении эволюции все «модели» теплокровных. Фенотипы, с рабочей температурой иных
                    диапазонов были слишком «прожорливыми» и отсеивались отбором.</p>

                <h4 class="main-content__topic">Хлорофилл и красота</h4>
                <p class="main-content__indent">Могло случится так что небо было бы ядовито-желтое а не голубое. Трава так же красная. Нравился бы
                    нам такой пейзаж? Почему красный, ярко-желтый, создают чувство неспокойствия и не подходят для
                    идилических райских картин ландшафтов как голубой и зеленый? Дело не в них а в нас. Мы продукт
                    эволюции, продукт среды в которой мы развивались. Что и было показано на примере температуры
                    тела.</p>

                <p class="main-content__indent_special">Начну с далека, так уж нужно, ничего не поделаешь… Зеленым цветом на картинке окрашена трава, трава
                    это растение. Первыми вышли задолго до животных на сушу растения. Они сформировали то первичное
                    окружение для живых организмов, создали им условия существования на суше. Стали источником пищи и
                    крова, ведь животные гетеротрофы. Растения же в основном автотрофы. Так вышло что у растений при
                    участии хлорофилла осуществляется процесс фотосинтеза. А по совместительству он так же зелёный
                    пигмент, обусловливающий окраску хлоропластов растений в зелёный цвет.</p>
                <p class="main-content__indent">Так же интересна физическая причина наших понятий красоты.</p>

                <div class="main-content__table">
                    {{> adaptive-table }}
                </div>

                <p class="main-content__indent">
                    Как найти эти консервативные признаки? Наиболее часто рассматривают 5 источников информации о них:
                    <ul class="main-content__list">
                        <li class="main-content__item">эмбриологические исследования;</li>
                        <li class="main-content__item">тератологические данные;</li>
                        <li class="main-content__item">сравнительно-морфологические данные;</li>
                        <li class="main-content__item">анализ врожденных поведенческих программ (этологические данные);</li>
                        <li class="main-content__item">изучение взаимосвязи с другими видами.</li>
                    </ul>
                </p>
            </div>
            <aside class="main-content__right">
                <div class="main-content__right-title">0,71</div>
                <div class="main-content__right-subtitle">WHR здоровой женщины</div>
                <div class="main-content__right-description">Один из весьма надежных оказателей здоровья, фертильности, как раз и является «waistto hip ratio». </div>
            </aside>
        </div>

    </div>
</div>