<div class="news">
    <div class="container">
        <div class="news__list">
            <div class="news__item">
                <img src="./images/new1.jpg" alt="" class="news__image">
                <div class="news__top-info">
                    <div class="news__title">Шелковый путь</div>
                    <div class="news__price">$987</div>
                </div>
                <div class="news__bottom-info">
                    <div class="news__description">Экстремальный маршрут</div>
                    <div class="news__discont"></div>
                </div>
            </div>
            <div class="news__item">
                <img src="./images/new2.jpg" alt="" class="news__image">
                <div class="news__top-info">
                    <div class="news__title">Не дай Бог не любишь</div>
                    <div class="news__price">$59</div>
                </div>
                <div class="news__bottom-info">
                    <div class="news__description">Роупджампинг</div>
                    <div class="news__oldprice">$90</div>
                </div>
            </div>
        </div>
    </div>
</div>