<footer class="main-footer">
    <div class="container main-footer__container">
        <div class="main-footer__copyright">Тестовое задание на вакансию верстальщика в компанию &nbsp;<a href="#">Aweb</a></div>
        <div class="main-footer__soc-media">
            {{> social-media_bottom}}
        </div>
    </div>
</footer>