.main-header {
  display: flex;
  align-items: center;
  min-height: 105px;
  background-color: #00bff3;
  /* added for sticky_menu */
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  right: 0;
  transition: $delay;

  @media(max-width: 600px) {
    min-height: 60px;
  }

  &_sticky {
    background: darken(#00bff3,5%);
    min-height: 60px;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    padding-right: 10px;

    &-icon {
      align-self: center;
      padding: 10px 0;
    }

    &-slogan {
      display: flex;
      align-items: center;
      max-width: 160px;
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      padding-top: 8px;
      padding-left: 21px;

      @media(max-width: 900px) {
        display: none;
      }
    }
  }

  &__callback {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-left: 95px;
    flex-wrap: wrap;

    @media(max-width: 900px) {
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 0;
    }

    @media(max-width: 720px) {
      justify-content: center;
      flex-direction: column;
    }

    &-phone {
      display: flex;
      color: #ffffff;
      font-size: 30px;
      font-weight: 400;
      white-space: nowrap;
      text-decoration: none;

      @media(max-width: 600px) {
        color: yellow;
      }

      @media(max-width: 480px) {
        font-size: 24px;
      }
    }

    &-link {
      display: flex;
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      text-decoration: none;
      border-bottom: 1px dashed #ffffff;
      margin-left: 35px;

      &:hover {
        opacity: 0.8;
      }

      @media(max-width: 720px) {
        justify-content: center;
        flex-direction: column;
        margin-left: 0;
        margin-top: 5px;
      }

      @media(max-width: 480px) {
        font-size: 16px;
      }
    }

  }

  &__soc-media {
    display: flex;
    padding-left: 10px;

    @media(max-width: 600px) {
      display: none;
    }
  }

}