<div class="offers">
    <div class="container">
        <div class="offers__list">
            <div class="offers__item">
                <img src="./images/offer1.jpg" alt="" class="offers__image">
                <div class="offers__top-info">
                    <a href="#" class="offers__title">Шелковый путь</a>
                    <div class="offers__price">$987</div>
                </div>
                <div class="offers__bottom-info">
                    <div class="offers__description">Экстремальный маршрут</div>
                    <div class="offers__discont"></div>
                </div>
            </div>
            <div class="offers__item">
                <img src="./images/offer2.jpg" alt="" class="offers__image">
                <div class="offers__top-info">
                    <a href="#" class="offers__title">Не дай Бог не любишь</a>
                    <div class="offers__price">$59</div>
                </div>
                <div class="offers__bottom-info">
                    <div class="offers__description">Роупджампинг</div>
                    <div class="offers__oldprice">$90</div>
                </div>
            </div>
        </div>
    </div>
</div>